<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="add/addcat">Add Category</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="add/additem">Add Item</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="fetch/fetchrest">All Restaurent</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="fetch/fetchall">All Data</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="signup/restaurent">Signup Restaurent</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="signup/customer">Signup Customer</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="login/customer">Login Customer</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="login/restaurent">Login Restaurent</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="order">order</button>
<router-outlet></router-outlet>